
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">
    <h1 style="color:red">Erro</h1>

    <p>A informação que procura não foi encontrada!</p>
</div>
