
@{
    ViewBag.Title = "Server";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="center">
    <h1 style="color:red">Erro</h1>

    <p>Erro ao comunicar com o servidor. Por favor tente mais tarde!</p>

</div>

