
@{
    ViewBag.Title = "SuccessRecipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="center">
    <h1 style="color:#51a252">SUCESSO</h1>

    <p>A sua receita foi criada com Sucesso! Pode agora consulta-la na listagem de receitas!</p>
</div>