
@{
    ViewBag.Title = "Dicas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">
    <h1>Dicas</h1>

    <div class="center-Dicas">
        <table>
            <tr>
                <td><h3>APRENDA A FAZER O BIFE PERFEITO</h3></td>
                <td><h3>27 TRUQUES DE COZINHA</h3></td>
            </tr>
            <tr>
                <td>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/hj-XZQZRKkc"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </td>
                <td>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YWXryxtGRMU"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                    </iframe>
                </td>
            </tr>


        </table>

    </div>
</div>